body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
}



.main_container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
}

.card_container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    margin-top: 160px;
}

.product_card {
    height: auto;
    width: 360px;
    background-color: rgb(219, 219, 219);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
}

.product_card_image {
    width: 344px;
    border-radius: 8px;
    margin-top: 8px;
}

.product_card_title {
    height: 24px;
    font-size: 18px;
    color: #070707;
    width: 344px;
    padding: 8px;
    display: flex;
    justify-content: flex-start;
    margin: 0px;
    margin-top: 8px;
}

.product_card_price {
    height: 24px;
    font-size: 18px;
    font-weight: bolder;
    color: #EA1B25;
    width: 344px;
    padding: 8px;
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    margin-top: 8px;
}